<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Borrow Return</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type = "text/css" href="{% static '/css/index.css' %}">
</head>

<body data-target="#navbarResponsive">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{%url 'dashstud'%}">UITC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'dashstud'%}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'borrowing'%}">Borrowing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'borrowstatus'%}">Borrowing Status</a>
                </li>
                <a href="{%url 'logout'%}" class="btn btn-danger rounded-pill">Log out</a>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="card">
            <div class="card-header">
                {% csrf_token %}
                <h2>Borrowing Status</h2>
            </div>
            <div class="table-responsive">
                <h4>List of Requested Equipments</h4>
                <table class="table table-dark table-hover table-boredered">
                    <thead>
                        <tr>
                            <th scope="col">Borrow Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">ID Number</th>
                            <th scope="col">Equipment Name</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    {% for value in data %}
                    <tr>
                        <th>{{value.date_borrow}}</th>
                        <td>{{value.date_return}}</td>
                        <td>{{value.idNumber}}</td>
                        <td>{{value.itemname}}</td>
                        <td>{{value.status}}</td>
                        <td><a class="btn btn-primary badge-pill" href="{%url 'borrowreturn' value.id %}">Return</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>
